In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date,Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [5]:
#  3. Convert the June temperatures to a list.
#list comprehesnion


june_temps = [temp for date,temp in results]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results,columns=['date','June Temps'])
df_june.set_index(df_june['date'],inplace=True)
df_june

                  date  June Temps
date
2010-06-01  2010-06-01        78.0
2010-06-02  2010-06-02        76.0
2010-06-03  2010-06-03        78.0
2010-06-04  2010-06-04        76.0
2010-06-05  2010-06-05        77.0
...                ...         ...
2017-06-26  2017-06-26        79.0
2017-06-27  2017-06-27        74.0
2017-06-28  2017-06-28        74.0
2017-06-29  2017-06-29        76.0
2017-06-30  2017-06-30        75.0

[1700 rows x 2 columns]

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_query = session.query(Measurement.date,Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [9]:
# 7. Convert the December temperatures to a list.

december_results = [temp for date,temp in results_query]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_december = pd.DataFrame(results_query,columns=['date','December Temps'])
df_december.set_index(df_december['date'],inplace=True)

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_december.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [12]:
#ADDITIONAL QUERIES NOT PART of CHALLENGE (everything below)



# Query to find how many days were greater than 70 degrees in months of June
additional_june_query = session.query(Measurement.date,Measurement.tobs).filter(extract('month',Measurement.date)== 6).filter(Measurement.tobs > 70).all()

In [13]:
# Convert the previous query into a list 

june_greaterthan_70_results = [temp for date,temp in additional_june_query]

In [14]:
#Create dataframe
df_june_greaterthan_70 = pd.DataFrame(additional_june_query,columns=['date','June Temps'])
df_june_greaterthan_70.set_index(df_june_greaterthan_70['date'],inplace=True)

In [15]:
#print out summary statistics 

df_june_greaterthan_70.describe()

        June Temps
count  1529.000000
mean     75.600392
std       2.711817
min      71.000000
25%      73.000000
50%      76.000000
75%      78.000000
max      85.000000

In [16]:
# Query to find how many days were greater than 70 degrees in months of December
additional_december_query = session.query(Measurement.date,Measurement.tobs).filter(extract('month',Measurement.date)== 12).filter(Measurement.tobs > 70).all()

In [17]:
# Convert the previous query into a list 

december_greaterthan_70_results = [temp for date,temp in additional_december_query]

In [18]:
#Create dataframe
df_december_greaterthan_70 = pd.DataFrame(additional_december_query,columns=['date','December Temps'])
df_december_greaterthan_70.set_index(df_december_greaterthan_70['date'],inplace=True)

In [19]:
df_december_greaterthan_70.describe()

       December Temps
count      887.000000
mean        73.533258
std          2.130285
min         71.000000
25%         72.000000
50%         73.000000
75%         75.000000
max         83.000000

In [20]:
# weather for all months
additional_all_query = session.query(Measurement.date,Measurement.tobs).filter(Measurement.tobs > 70).all()

In [21]:
# Turn into list 
all_greaterthan_70_results = [temp for date,temp in additional_all_query]

In [22]:
#Create dataframe
df_all_greaterthan_70 = pd.DataFrame(additional_all_query,columns=['date','Temps'])
df_all_greaterthan_70.set_index(df_all_greaterthan_70['date'],inplace=True)

In [23]:
df_all_greaterthan_70.describe()

              Temps
count  14282.000000
mean      75.218947
std        2.930710
min       71.000000
25%       73.000000
50%       75.000000
75%       77.000000
max       87.000000